.infosBox {
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
    margin: 1rem;
}

.Game--title {
    padding: 10px;
}

.Game--title:first-letter  {
    text-transform: capitalize;
}

.Game .row {
    display: flex;
    justify-content: center;
    align-items: center;
}

.Game .bottom {
    width: 20%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
}