.Disk {
    display: block;
    width:40px;
    height:40px;
    margin:0 auto;
    border-radius: 50%;
    padding:0;
}

.Cell--occupied .Disk {
    -webkit-transition: background-color 1s linear;
    -moz-transition: background-color 1s linear;
    -o-transition: background-color 1s linear;
    transition: background-color 1s linear;    
}

.Cell--newest .Disk {
    border:2px solid violet;
}