* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  font-family: 'Roboto', sans-serif;
/*   background-image: url('./assets/background.jpg');
  background-position: center;
  background-size: cover; */
  background-color: beige;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Patua One', cursive;
}

