.Score {
    width:100px;
    height:100px;
    display: block;
    border-radius: 50%;
    display: flex;
    align-items: center;
}

.Score span {
    width:100%;
    text-align: center;
    font-size:40px;
    font-weight: bold;
}

.Score--white {
    background: white;
    color:black;
}

.Score--black {
    background: black;
    color:white;
}